.site-footer {
  background-color: #3e4b23;
  padding: 15px;
  text-align: center;
}

.footer-links a {
  color: white;
  margin: 0 14px;
  text-decoration: none;
  font-size: 14px;
}

.footer-links a:hover {
  text-decoration: underline;
}